target/
/src/
web/src/main/resources/VAADIN/themes/homewire/styles.css

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
